#error-age {
    display: none;
    color: red;
}

#error-height {
    display: none;
    color: red;
}

#error-weight {
    display: none;
    color: red;
}

#error-sample-date {
    display: none;
    color: red;
}

#error-sex {
    display: none;
    color: red;
}